/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    height: 100vh;
}
/* common */
.icon{
    color: white;
    padding: 5px;
    background-color: rgba(180,180,180,0.5);
}
.nome{
    background-color: rgba(180,180,180,0.5);
    color: white;
    padding:2px;
}

/* header */
header{
    height: 30px;
    position: fixed;
    z-index: 100;
    right: 0;
}
.view{
    text-align: right;
    margin: 5px;
}
.visione{
    border-radius: 5px;
}
/* main */
main{
    height: calc(100%-120px);
    width: 90%;
    margin: auto;
}
.row{
    display: flex;
}

.container{
    flex-wrap: wrap;
    height: 140px;
    width: calc(100% / 7 - 5px);
    margin: 10px 5px;
    position: relative;
}
.nome{
    position: absolute;
    bottom: 0;
    left: 0;
}
img{
    height: 140px;
    width: 179px;
}

/* footer */
footer{
    height: 90px;
    background-color: #222222;
    color: white;
}
.comandi{
    display: flex;
    justify-content: space-around;
}
.input{
    width: 20%;
    text-align: left;
}
.output{
    width: 60%;
    text-align: center;
}
.leave{
    width: 20%;
    text-align: right;
}
 .comandi-sinistra{
    display: flex;
    align-items: center;
    justify-content: left;
}
.comandi-centro{
    display: flex;
    justify-content: center;
}
.comandi-destra{
    display: flex;
    justify-content: right;
    background-color: #111111;
    color: red;
}
