/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    height: 100vh;
}
/* common */
.icon{
    color: white;
    padding: 5px;
    background-color: rgba(180,180,180,0.5);
}

/* header */
header{
    height: 30px;
}
.view{
    text-align: right;
    margin: 5px;
}
.visione{
    border-radius: 5px;
}
/* main */
main{
    height: calc(100%-120px);
    width: 90%;
    margin: auto;
}
.row{
    display: flex;
}

.container{
    flex-wrap: wrap;
    height: 140px;
    width: calc(100% / 7 - 5px);
    margin: 10px 5px;
}
img{
    height: 140px;
    width: 179px;
}
.windows .nome{
    height: 30px;
    width: 30%;
    background-color: aliceblue;
}
.nome{
    position: relative;
    left: 20px;
    top: 20px;
}

/* footer */
footer{
    height: 90px;
    background-color: pink;
}
.comandi{
    display: flex;
    justify-content: space-around;
}
.input{
    width: 20%;
    text-align: left;
}
.output{
    width: 60%;
    text-align: center;
}
.leave{
    width: 20%;
    text-align: right;
}